{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}">

    <title>Recipes for All</title>
</head>
<body style="font-family: Georgia;">
    <header>
        <h1>Recipes for All</h1>
        <nav>
            <ul>
                <li class="nav-li active"><a href="{% url 'recipes:home_page' %}">Home</a></li>
                <li class="nav-li"><a href="{% url 'recipes:all' %}">Recipes</a></li>
                <li class="nav-li"><a href="{% url 'recipes:user_recipe_list' %}">Your Recipes</a></li>
                <li class="nav-li">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}?next={% url 'recipes:home_page' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}?next={% url 'recipes:home_page' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    <p style="font-size: 150%; color: #555555;">Welcome to Recipes for All, the recipe website where recipes are uploaded by anyone, for everyone! </p>

    <h2 style="font-size: 200%;">Recently Added: </h2>
    {% for recipe in recipe_list reversed %}
        {% if forloop.counter < 5 %}
        <li style="width: 20%;" class="recipe-detail">
            <h3 style="font-size: 150%;"><a class="recipe-title" href="{% url 'recipes:recipe_detail'  recipe.id %}">{{ recipe.title }}</a></h3>
            {% if recipe.content_type %}
            <img style="display: block; margin-left: auto; margin-right: auto; max-width:90%;" src="{% url 'recipes:recipe_picture' recipe.id %}"
                onclick="document.getElementById('overlay').style.display = 'block';">
            {% endif %}
            <p style="text-align:center; color: #555555; padding: 5px;">{{recipe.description}}</p>
            <br clear="all"/>
            <div class="edit-delete">
        </li>
        {% endif %}
</body>
{% endfor %}
{% endblock %}